In [7]:
import pandas as pd

In [8]:
data1 = ['a','b','c']
data2 = [1,2,3]
pd.Series(data1)

0    a
1    b
2    c
dtype: object

Note: Hit 'Tab' for auto compeltion of the code.
    eg. Rather than typing the 'pd.Series' we can type pd.Se and hit Tab, it will automatically complete the rest.

In [9]:
data1 = ['a','b','c']
data2 = [1,2,3]
pd.Series(data1, index=data2)

1    a
2    b
3    c
dtype: object

### Pandas Operations (Data Series)

In [10]:
data = ['a','b','c']
data

['a', 'b', 'c']

In [11]:
data1 = ['a','b','c']
data2 = data1*2
data2

['a', 'b', 'c', 'a', 'b', 'c']

In [12]:
series_data = pd.Series(data1)
series_data

0    a
1    b
2    c
dtype: object

In [14]:
series_data = pd.Series(data1)
new_series_data = series_data*2
new_series_data

0    aa
1    bb
2    cc
dtype: object

In [15]:
s1 = pd.Series([1,2],["maths","english"])
s1

maths      1
english    2
dtype: int64

In [16]:
s2 = pd.Series([1,2],["maths","urdu"])
s2

maths    1
urdu     2
dtype: int64

In [17]:
s1+s2

english    NaN
maths      2.0
urdu       NaN
dtype: float64

### Pandas Operations (Data Frames)

In [25]:
import numpy as np
import pandas as pd
from numpy.random import rand
np.random.seed(101)

df = pd.DataFrame(rand(3,3),['A','B','C'],['D','E','F'])

df

          D         E         F
A  0.516399  0.570668  0.028474
B  0.171522  0.685277  0.833897
C  0.306966  0.893613  0.721544

In [27]:
df['D']

A    0.516399
B    0.171522
C    0.306966
Name: D, dtype: float64

In [28]:
type(df['D'])

pandas.core.series.Series

In [29]:
type(df)

pandas.core.frame.DataFrame

In [30]:
df.head(2)

          D         E         F
A  0.516399  0.570668  0.028474
B  0.171522  0.685277  0.833897

In [31]:
df.tail(2)

          D         E         F
B  0.171522  0.685277  0.833897
C  0.306966  0.893613  0.721544

In [32]:
df.isnull().any()

D    False
E    False
F    False
dtype: bool

In [33]:
df.drop('C')

          D         E         F
A  0.516399  0.570668  0.028474
B  0.171522  0.685277  0.833897

In [34]:
df.drop('D')

ValueError: labels ['D'] not contained in axis

Can only drop rows not columns

refrence: Edureka_youtube